header{background-color: brown;
    border: solid;
text-align: center;}
nav{font-style: oblique;
text-align: right;}
body{background-color: dimgray;}
head{position: relative;}
h4{color: azure;
font-size: 20px;}
ul{color: antiquewhite;
border: solid;
text-align: center;}
h2{font-weight: 30px;}
h1{border: solid;}